/* css styles */

// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*-- scss:defaults --*/

// Colors
$main-color: #282a36;
$dark-color: #303030;
$dark-color2: #44475a;
$light-color: #ffffff;
$light-color2: #4786b9;
$light-blue: rgb(91, 132, 209);

/*-- scss:rules --*/

body {
	background-color: $light-color;
}

p {
	font-weight: 300;
}

li,
p {
	font-weight: 3;
}

// .navbar-dark {
// 	background-color: $dark-color;
// 	display: grid;
// 	gap: 0;
// 	grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(850px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset page-end] 5fr [screen-end-inset] 1.5em [screen-end];
// }

footer {
	display: grid;
	gap: 0;
	grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(850px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset page-end] 5fr [screen-end-inset] 1.5em [screen-end];
	// border-top: 1px solid #dee2e6;
	background-color: $dark-color;
}


@media only screen and (min-width: 700px) {
	.navbar-container {
		margin-left: 25px;
		grid-column: page-start/page-end;
	}

	.nav-footer {
		margin-left: 25px;
		grid-column: page-start/page-end;
		border-top: 0px !important;
		background-color: $dark-color;
		color: $light-color;
	}
}

// Botões do link
div.quarto-about-trestles .about-entity .about-link {
	font-size: .8em;
	padding: .25em .5em;
	border-radius: 4px;
	background-color: $main-color;
	color: $light-color;
}

// Link da navbark
// .navbar-dark .navbar-nav .nav-link {
// 	color: $light-color;
// }

// .navbar-dark .navbar-nav .show>.nav-link,
// .navbar-dark .navbar-nav .active>.nav-link,
// .navbar-dark .navbar-nav .nav-link.active {
// 	color: $light-color;
// 	font-weight: bold;
// }

// .navbar-dark .navbar-nav .nav-link:hover,
// .navbar-dark .navbar-nav .nav-link:focus {
// 	color: $light-color2;
// }

div.quarto-about-trestles .about-entity .about-link:hover {
	color: $light-color2;
}

a {
	color: $dark-color2;
	text-decoration: underline;
	-webkit-text-decoration: underline;
	-moz-text-decoration: underline;
	-ms-text-decoration: underline;
	-o-text-decoration: underline;
}

a:hover {
	color: $dark-color;
}

.navbar-dark .navbar-brand {
	// color: $light-color;
	font-weight: bold;
}

// .navbar-dark .navbar-brand:hover {
// 	color: $light-color2;
// }

// .navbar .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
// 	color: $light-color2;
// }

// .navbar-dark .navbar-toggler-icon {
// 	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23292727' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
// }

// .navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
// 	width: 26px;
// 	height: 26px;
// 	color: $light-color;
// 	opacity: 1;
// }

.about_style {
	color: $main-color;
	font-weight: 700;
	font-size: 1.5rem;
}

.about_entry {
	display: grid;
	gap: 0;
	grid-template-columns: 1fr 2fr;
	justify-content: center;
}

.about_entry div {
	border: 1px solid $light-color;
}

.about_entry_title {
	color: $dark-color2;
	font-weight: 700;
}

.about_entry_text {
	margin-top: -20px;
}

.about-link {
	font-size: .8em;
	padding: .25em .5em;
	border-radius: 4px;
	background-color: #333d4a;
	color: #fff;
	text-decoration: none;
}

.about-link:hover {
	color: $light-color2;
}

.links-flex {
	display: flex;
	flex-direction: row;
	column-gap: .8em;
	row-gap: 15px;
	justify-content: center;
	flex-wrap: wrap;
}

.page-columns>* {
	grid-column: page-start/page-end;
}

.title-page {
	display: grid;
	gap: 0;
	grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(850px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset page-end] 5fr [screen-end-inset] 1.5em [screen-end];
	background-color: $light-color;
	color: $main-color;
	height: calc(100vh - 145px);
}

.title-container {
	align-self: center;
	justify-self: center;
	grid-column: page-start/page-end;
	// display: grid;
	// grid-template-columns: 1fr 2fr;
	// align-items: center;
}

.title-container>div {
	margin-left: 30px;
}

h1.title-home,
.title-home.h1 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: 700;
	color: $dark-color2;
}

.fullcontent {
	height: 100vh;
	background-color: $light-color;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	border-radius: 50%;
	border: 3px solid $dark-color;
}

.btn-dark {
	background-color: $dark-color !important;
}

.btn-dark:hover {
	background-color: $light-color2 !important;
	border-color: $light-color2;
}


@media only screen and (min-width: 700px) {
	.navbar-container {
		margin-left: 25px;
		grid-column: page-start/page-end;
	}

	.nav-footer {
		margin-left: 25px;
		grid-column: page-start/page-end;
		border-top: 0px !important;
		background-color: $dark-color;
		color: $light-color;
	}
}

@media only screen and (max-width: 500px) {
	.title-page {
		display: block;
		height: 100vh;
		margin-top: 100px;
		margin-left: 20px;
		margin-right: 20px;
	}

	footer {
		display: block;
		background-color: $dark-color;
	}

	.nav-footer {
		margin-left: 25px;
		border-top: 0px !important;
		background-color: $dark-color;
		color: $light-color;
	}
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fdfeff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}